@import "tailwindcss";

@layer base {
  :root {
    --font-body-family: Montserrat, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-heading-family: Trirong, serif;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-body-scale: 1;
    --font-heading-scale: 1;
    --media-padding: px;
    --media-border-opacity: 0.05;
    --media-border-width: 1px;
    --media-radius: 0px;
    --media-shadow-opacity: 0;
    --media-shadow-horizontal-offset: 0px;
    --media-shadow-vertical-offset: 4px;
    --media-shadow-blur-radius: 5px;
    --media-shadow-visible: 0;
    --page-width: 120rem;
    --page-width-margin: 0rem;
    --product-card-image-padding: 0rem;
    --product-card-corner-radius: 0rem;
    --product-card-text-alignment: left;
    --product-card-border-width: 0rem;
    --product-card-border-opacity: 0.1;
    --product-card-shadow-opacity: 0;
    --product-card-shadow-visible: 0;
    --product-card-shadow-horizontal-offset: 0rem;
    --product-card-shadow-vertical-offset: 0.4rem;
    --product-card-shadow-blur-radius: 0.5rem;
    --collection-card-image-padding: 0rem;
    --collection-card-corner-radius: 0rem;
    --collection-card-text-alignment: left;
    --collection-card-border-width: 0rem;
    --collection-card-border-opacity: 0.1;
    --collection-card-shadow-opacity: 0;
    --collection-card-shadow-visible: 0;
    --collection-card-shadow-horizontal-offset: 0rem;
    --collection-card-shadow-vertical-offset: 0.4rem;
    --collection-card-shadow-blur-radius: 0.5rem;
    --blog-card-image-padding: 0rem;
    --blog-card-corner-radius: 0rem;
    --blog-card-text-alignment: left;
    --blog-card-border-width: 0rem;
    --blog-card-border-opacity: 0.1;
    --blog-card-shadow-opacity: 0;
    --blog-card-shadow-visible: 0;
    --blog-card-shadow-horizontal-offset: 0rem;
    --blog-card-shadow-vertical-offset: 0.4rem;
    --blog-card-shadow-blur-radius: 0.5rem;
    --badge-corner-radius: 4rem;
    --popup-border-width: 1px;
    --popup-border-opacity: 0.1;
    --popup-corner-radius: 0px;
    --popup-shadow-opacity: 0.05;
    --popup-shadow-horizontal-offset: 0px;
    --popup-shadow-vertical-offset: 4px;
    --popup-shadow-blur-radius: 5px;
    --drawer-border-width: 1px;
    --drawer-border-opacity: 0.1;
    --drawer-shadow-opacity: 0;
    --drawer-shadow-horizontal-offset: 0px;
    --drawer-shadow-vertical-offset: 4px;
    --drawer-shadow-blur-radius: 5px;
    --spacing-sections-desktop: 0px;
    --spacing-sections-mobile: 0px;
    --grid-desktop-vertical-spacing: 8px;
    --grid-desktop-horizontal-spacing: 8px;
    --grid-mobile-vertical-spacing: 4px;
    --grid-mobile-horizontal-spacing: 4px;
    --text-boxes-border-opacity: 0.1;
    --text-boxes-border-width: 0px;
    --text-boxes-radius: 0px;
    --text-boxes-shadow-opacity: 0;
    --text-boxes-shadow-visible: 0;
    --text-boxes-shadow-horizontal-offset: 0px;
    --text-boxes-shadow-vertical-offset: 4px;
    --text-boxes-shadow-blur-radius: 5px;
    --buttons-radius: 0px;
    --buttons-radius-outset: 0px;
    --buttons-border-width: 1px;
    --buttons-border-opacity: 1;
    --buttons-shadow-opacity: 0;
    --buttons-shadow-visible: 0;
    --buttons-shadow-horizontal-offset: 0px;
    --buttons-shadow-vertical-offset: 4px;
    --buttons-shadow-blur-radius: 5px;
    --buttons-border-offset: 0px;
    --inputs-radius: 0px;
    --inputs-border-width: 1px;
    --inputs-border-opacity: 0.55;
    --inputs-shadow-opacity: 0;
    --inputs-shadow-horizontal-offset: 0px;
    --inputs-margin-offset: 0px;
    --inputs-shadow-vertical-offset: 4px;
    --inputs-shadow-blur-radius: 5px;
    --inputs-radius-outset: 0px;
    --variant-pills-radius: 40px;
    --variant-pills-border-width: 1px;
    --variant-pills-border-opacity: 0.55;
    --variant-pills-shadow-opacity: 0;
    --variant-pills-shadow-horizontal-offset: 0px;
    --variant-pills-shadow-vertical-offset: 4px;
    --variant-pills-shadow-blur-radius: 5px;
    --jdgm-primary-color: #fa8a8a;
    --jdgm-secondary-color: rgba(250, 138, 138, 0.1);
    --jdgm-star-color: #fa8a8a;
    --jdgm-write-review-text-color: white;
    --jdgm-write-review-bg-color: #fa8a8a;
    --jdgm-paginate-color: #fa8a8a;
    --jdgm-border-radius: 0;
    --jdgm-reviewer-name-color: #fa8a8a;
  }

  body {
    @apply grid grid-cols-[100%] grid-rows-[auto_auto_1fr_auto] min-h-full m-0;
    @apply text-[1.5rem] tracking-[0.06rem];

    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  main {
    display: block;
    unicode-bidi: isolate;
  }

  h1,
  .h1 {
    @apply text-[calc(var(--font-heading-scale)*4rem)];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  .h0,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
    letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
    color: rgb(var(--color-foreground));
    line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
    word-break: break-word;
  }

  a:not([href]) {
    @apply cursor-not-allowed;
  }

  @media (min-width: 750px) {
    body {
      font-size: 15px;
    }
  }

  .hided {
    @apply !hidden;
  }

  .centered {
    @apply text-center;
  }

  .main_section img {
    @apply w-full;
  }

  .Desktop_only {
    @apply !hidden md:!block;
  }

  .Mobile_only {
    @apply !block md:!hidden;
  }

  .page-width {
    @apply !max-w-[1340px] mx-auto px-[15px] lg:px-[50px];
  }

  .shopify-section p {
    @apply font-['Nunito'];
  }

  .product_ugc-video {
    @apply relative rounded-[4px] overflow-hidden cursor-pointer px-[8px] py-[4px];
  }

  .product_ugc-video img {
    @apply w-full;
  }

  .product_ugc-video img.product_ugc-play {
    @apply absolute w-8 h-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .product_ugc-video video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9 / 16;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  @import "./shopify-section-hero.css";
  @import "./product-judge-outer.css";
  @import "./jdgm-widget.css";
  @import "./product-carousel-outer.css";
}
