.product_ugc-container,
.product_review-container {
  margin-bottom: 40px !important;
}

.product_ugc-container .slick-dots,
.product_review-container .slick-dots {
  @apply !flex !w-full !max-w-[calc(100%-200px)] !gap-0 max-[768px]:!pl-2 max-[768px]:!max-w-[calc(100%-100px)];
  bottom: -44px !important;
}

.product_ugc-container .slick-dots li,
.product_review-container .slick-dots li {
  @apply !m-0 !w-full;
}

.product_ugc-container .slick-dots li button,
.product_review-container .slick-dots li button {
  @apply !p-0 !h-1 !w-full !bg-[#00000026];
}

.product_ugc-container .slick-dots li button:before,
.product_review-container .slick-dots li button:before {
  content: "" !important;
  opacity: 0 !important;
}

.product_revcar-badge,
.product_ugc-container .slick-dots li.slick-active button,
.product_review-container .slick-dots li.slick-active button {
  @apply !bg-[#039869];
}

.product_ugc-carousel-nav {
  @apply ml-auto flex justify-end gap-3 items-center -mt-[50px] py-[20px];
  @apply max-[768px]:pr-4;
}

.product_carousel-prev,
.product_carousel-next {
  @apply cursor-pointer;
}

.product_ugc-carousel-nav img {
  @apply w-full max-w-[32px];
}

/* 9 -> 11  */
.product_faq_container {
  max-width: 824px;
  margin: auto;
  border-radius: 16px;
  background: linear-gradient(180deg, #fff, #f7a0a0bf);
  overflow: hidden;
  padding: 32px;
}

.product_faq_container {
  background: linear-gradient(180deg, #fff, #f3eee0);
}

.product_faq-box {
  padding: 20px 24px;
  cursor: pointer;
  border-bottom: 1px solid white;
  @apply max-[768px]:py-[16px] max-[768px]:px-[0];
}

.product_faq-thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.product_faq-thumb p {
  margin: 0;
  font-size: 18px;
  line-height: 1.3em;
}

.product_faq-thumb svg {
  width: 16px;
  transition: all 0.2s;
}

.product_faq-box.active .product_faq-thumb svg {
  transform: rotate(180deg);
}

.product_faq-content {
  padding-top: 16px;
  display: none;
}

.product_faq-box.active .product_faq-content {
  display: block;
}

.product_faq-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.3em;
}

.product_stats-outer {
  display: flex;
  align-items: center;
}

.product_stats-outer > div:nth-child(2) {
  width: 70%;
}

.product_stats-outer > div:nth-child(1) {
  width: 100%;
}

.product_stats-outer img {
  width: 100%;
}

.product_expert-media img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.product_text-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.product_text-image > div {
  width: 100%;
}

.product_text-image-reviews {
  max-width: 350px;
}

.product_text-image img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .product_stats-outer {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
  }

  .product_stats-outer > div:nth-child(2) {
    width: 100%;
  }

  .product_text-image {
    flex-wrap: wrap;
    gap: 0;
  }

  .product_text-image-reviews {
    max-width: 250px;
    margin: auto;
    display: block;
  }
}
