.main_product-container {
  @apply flex-wrap md:flex-nowrap flex gap-[16px] md:gap-[64px];
}

.main_product-images img {
  @apply object-cover aspect-[1] rounded-[8px] overflow-hidden;
}

.main_product-2nd {
  @apply grid grid-cols-2 gap-4 my-4;
}

.main_product-3rd {
  @apply grid grid-cols-3 gap-4 my-4;
}

.main_product-images img {
  @apply object-cover aspect-square rounded-[8px] overflow-hidden;
}

.main_product-reviews {
  @apply flex items-center gap-4 mb-4;
}

.main_product-reviews img {
  @apply !w-[60px] md:!w-[100px] block;
}

.main_product-reviews p {
  @apply m-0 leading-[1.3em] text-[14px];
}

.main_product-title {
  @apply text-[24px] md:text-[28px] my-4 leading-[1.4em] font-['Lora'];
}

.main_product-feature-line {
  @apply flex items-center gap-3 my-4;
}
.main_product-feature-line > div:nth-child(1) {
  @apply w-[10%] flex items-center;
}

.main_product-feature-line > div:nth-child(2) {
  @apply w-full;
}

.main_product-feature-line p {
  @apply m-0 leading-[1.3em] text-[16px];
}

#frontrow-sticker {
  @apply fixed left-0 w-[437px] h-[78px] overflow-hidden transition-[width] duration-300 ease-in-out md:top-[20px];
}

.product_selector-content {
  @apply !bg-[#f3eee0] p-3 rounded-[8px] mb-4 mt-6;
}

.product-selector_outer {
  @apply hidden mt-6;
}

.product-selector_outer.active_block {
  @apply block;
}

.product_selector-content .product-selector_outer {
  @apply mt-0;
}

.product-selector_block {
  @apply border !border-[#039869] rounded-[12px] relative mb-3 cursor-pointer;
}

.product-selector_badge {
  @apply absolute top-[-20px] right-[-5px];
}

.product-selector_head {
  @apply flex items-center gap-3 bg-white p-4 rounded-[12px];
}

.product-selector_head > div:nth-child(1) {
  @apply w-8;
}

.product-selector_bubble {
  @apply w-[26px] h-[26px] rounded-full flex items-center justify-center border-2 !border-[#039869];
}

.active .product-selector_bubble_inn {
  @apply w-4 h-4 rounded-full !block !bg-[#039869];
}

.product-selector_head > div:nth-child(2) {
  @apply w-full;
}

.product-selector_title,
.product-selector_price {
  @apply m-0 text-[16px] leading-[1.3em] font-semibold font-sans;
}

.product-selector_info {
  @apply text-[12px] m-0 leading-[1.3em];
}

.product-selector_head > div:nth-child(3) {
  @apply w-1/2 text-right;
}

.product-selector_compare {
  @apply text-[14px] leading-[1.3em] m-0 block;
}

.product-selector_perks {
  @apply rounded-b-[10px] overflow-hidden;
}

.product-selector_perk_line {
  @apply flex items-center gap-2 py-1 px-2 border-b border-white opacity-60 !bg-[#039869];
}

.active .product-selector_perk_line {
  @apply opacity-100;
}

.product-selector_perk_line > div:nth-child(1) {
  @apply w-[34px];
}

.product-selector_perk_line img {
  @apply w-full block;
}

.product-selector_head > div:nth-child(2) {
  @apply w-full;
}

.product-selector_title,
.product-selector_price {
  @apply m-0 text-[16px] leading-[1.3em] font-semibold font-sans;
}

.product-selector_info {
  @apply text-[12px] m-0 leading-[1.3em];
}

.product-selector_head > div:nth-child(3) {
  @apply w-1/2 text-right;
}

.product-selector_compare {
  @apply text-[14px] leading-[1.3em] m-0 block;
}

.product-selector_perks {
  @apply rounded-b-[10px] overflow-hidden;
}

.product-selector_perk_line {
  @apply flex items-center gap-2 py-1 px-2 border-b border-white opacity-60 !bg-[#039869];
}

.active .product-selector_perk_line {
  @apply opacity-100;
}

.product-selector_perk_line > div:nth-child(1) {
  @apply w-[34px];
}

.product-selector_perk_line img {
  @apply w-full block;
}

.product-selector_perk_line p {
  @apply text-[12px] text-white font-bold m-0 leading-[1em];
}

.col_pp_atc_usp_line {
  @apply flex items-center gap-2 mt-4;
}

.col_pp_atc_usp_line > div:nth-child(1) {
  @apply w-[5%] flex items-center;
}

.col_pp_atc_usp_line > div:nth-child(2) {
  @apply w-full;
}

.col_pp_atc_usp_line p {
  @apply text-[12px] md:text-[16px] m-0 leading-[1.3em];
}

.col_pp_atc_usp_line span {
  @apply !bg-[#039869] px-[4px] py-[2px] md:py-1 md:px-2 rounded-[4px] text-white;
}

.product-selector_atc,
.product-selector_atc_champs {
  @apply bg-black text-white font-bold text-[18px] cursor-pointer rounded-[8px] p-3 w-full text-center mt-3 transition-all duration-200;
}

.product_atc-footer-line {
  @apply flex items-center gap-4 justify-center mt-4;
}

.product_atc-footer-inline {
  @apply flex items-center justify-center gap-2 ;
}

.product_atc-footer-inline:nth-child(1) {
  @apply pr-4 border-r border-black;
}

.product_atc-footer-inline img,
.product_atc-footer-inline svg {
  @apply w-[14px] h-[14px] md:w-5 md:h-5 block;
}

.product_atc-footer-inline p {
  @apply m-0 text-[11px] md:text-[16px] leading-[1.3em];
}

.product_payment-icons {
  @apply my-4 block w-full;
}

.product_atc-icon-line {
  @apply flex items-center gap-2 my-3;
}

.product_atc-icon-line > div:nth-child(1) {
  @apply w-[5%] flex items-center;
}

.product_atc-icon-line > div:nth-child(2) {
  @apply w-full;
}

.product_atc-icon-line p {
  @apply text-[16px] m-0 leading-[1.3em];
}

.main_product-review,
.section_press_logos_outer .press_logos_wrapper,
.product_judge-outer.pink,
.product_ingr-block {
  @apply !bg-[#f3eee0];
}

.main_product-review {
  @apply mt-6 p-3 rounded-[12px];
}

.main_product-review-meta {
  @apply flex items-center gap-4 mb-2;
}

.main_product-review-meta > div:nth-child(1) {
  @apply w-[15%];
}

.main_product-review-meta > div:nth-child(2) {
  @apply w-full;
}

.main_product-review-meta p {
  @apply m-0 flex items-center gap-2 text-[12px] md:text-[16px] leading-[1.3em];
}

.main_product-review-meta p img {
  @apply max-w-[120px];
}

.main_product-review-meta span {
  @apply flex items-center;
}

.main_product-review-stars {
  @apply block max-w-[100px] mt-[6px];
}

.main_product-review-content p {
  @apply mt-0 mb-2 leading-[1.3em] text-[16px] tracking-normal;
}

.main_product-review-content strong {
  @apply font-semibold;
}

.main_product-review-content p:last-child {
  @apply mb-0;
}

.product_tab-block_out {
  @apply mt-4;
}

.main_product-images img {
  @apply object-cover aspect-square rounded-[8px] overflow-hidden;
}

.slick-slide img {
  @apply block;
}

.main-product-bf_badge {
  @apply absolute right-4 top-4 w-full max-w-[120px] block;
  @apply max-[768px]:max-w-[80px];
}

.main_product-nutrition-info {
  @apply absolute bottom-8 z-[2] flex justify-center gap-2 max-w-[290px] py-2 px-6 bg-white/85 border border-black rounded-[24px] cursor-pointer;
  @apply text-[14px] leading-[1.2em];
}

.main_product-nutrition-info span {
  @apply flex items-center;
}

.main_product-nutrition-info img {
  @apply w-6;
}

.main_product-images img {
  @apply object-cover aspect-square rounded-[8px] overflow-hidden;
}

.main_product-image-box {
  @apply relative !flex justify-center;
}

.main_product-nutrition-info {
  @apply absolute bottom-8 z-[2] flex justify-center gap-2 max-w-[290px] py-2 px-6;
  @apply bg-white/85 border border-black rounded-[24px] cursor-pointer;
  @apply text-[14px] leading-[1.2em];
}

.main_product-nutrition-info span {
  @apply flex items-center;
}

.main_product-nutrition-info img {
  @apply w-6;
}

.main-producT_bf_badge {
  @apply absolute right-4 top-4 w-full max-w-[120px] block;
  @apply max-[768px]:max-w-[80px];
}

.slick-next:before {
  content: "" !important;
}

.slick-prev:before {
  content: "" !important;
}

.product_tab-block {
  @apply mb-4 p-4 rounded-[32px] border border-[#d2d2d2] cursor-pointer;
}

.product_tab-thumb {
  @apply flex justify-between items-center gap-3;
}

.product_tab-thumb p {
  @apply m-0 text-[16px] leading-[1.3em];
}

.product_tab-thumb span {
  @apply flex items-center;
}

.product_tab-thumb img {
  @apply w-6 block transition-all duration-200;
}

.product_tab-block.active {
  @apply !border-[#039869];
}

.product_tab-content {
  @apply pt-4 hidden;
}

.product_tab-content p {
  @apply mb-3 text-[16px] leading-[1.3em] tracking-normal m-0;
}

.product_tab-block.active .product_tab-thumb img {
  @apply rotate-45;
}

.product_tab-block.active .product_tab-content {
  @apply block;
  max-height: 1000px !important;
  opacity: 1 !important;
}

/* section_press_logos_outer start */
.section_press_logos_outer {
  position: relative;
  margin: auto;
}

.section_press_logos_outer .section_holder {
  position: relative;
  max-width: 100vw;
  margin: auto;
  line-height: 1;
  background: #fff7f8;
}

@keyframes logo_scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}

.section_press_logos_outer .press_logos_wrapper {
  display: grid;
  margin: auto;
  grid-template-columns: 125px 1fr;
  grid-gap: 20px 70px;
  padding: 0 50px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section_press_logos_outer .title_wrap {
  font-size: 24px;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
}

.section_press_logos_outer .auto_scrolling_logos {
  width: 100%;
  overflow: hidden;
  min-width: 1px;
}

.section_press_logos_outer .logos_wrap {
  display: flex;
  animation: logo_scroll 20s infinite linear;
  align-items: center;
  width: fit-content;
}

.section_press_logos_outer .logos_wrap img {
  height: 30px;
  width: auto;
  display: block;
  margin: 0 50px;
}

.section_press_logos_outer .press_logos_wrapper {
  /* height: 90px; */
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
}

@media screen and (max-width: 900px) {
  .section_press_logos_outer .logos_wrap img {
    max-height: 20px;
    margin: 0 25px;
  }
  .section_press_logos_outer .title_wrap {
    font-size: 18px;
  }
}

/* section_press_logos_outer end */

@media only screen and (max-width: 768px) {
  .slick-prev {
    left: 24px !important;
    z-index: 2;
    width: 32px !important;
    height: 32px !important;
  }

  .slick-next {
    right: 24px !important;
    z-index: 2;
    width: 32px !important;
    height: 32px !important;
  }

  .main_product-image-carousel_thumbs .slick-slide {
    padding: 0 4px;
  }
}
